description "iris-site"

start on (filesystem)
stop on runlevel [016]

respawn
setuid www-data
setgid www-data
chdir {{ django_home }}/iris-site/
env DJANGO_SETTINGS_MODULE=iris_site.settings
env SECRET_KEY="{{ SECRET_KEY }}"
env DB_NAME="{{ DB_NAME }}"
env DB_USER="{{ DB_USER }}"
env DB_PASSWORD="{{ DB_PASSWORD }}"
env DB_HOST="{{ DB_HOST }}"
env DB_PORT="{{ DB_PORT }}"
env IEMAIL="{{ IEMAIL }}"
exec gunicorn -b 127.0.0.1:8000 -w 4 iris_site.wsgi --error-logfile /tmp/gunicorn-error.log
